
<%- include("header"); -%>

  <form class="post-form" action="/post" method="post">
    <div class="content">
      <h1 class="content-home-heading">Add Post Title</h1>
      <input class="input-title" type="text" name="title">
      <h4 class="post-title">Add Description</h4>
      <textarea class="input-title" name="text" rows="15" cols="150"></textarea>
      <br>
      <button class="btn" type="Submit" name="submit">Add</button>
    </div>
  </form>

<%- include("footer"); -%>
